{% extends "frackHub/base.html" %} 
{% block content %} 
    {% for post in posts %} 
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              
              <a class="mr-2" href="#">Artist: {{ post.artist }}</a>
              <small class="text-muted">Posted by: {{ post.author }}</small>
            </div>
            <h2><a class="article-title" href="https://www.youtube.com/watch?v=ZWUDia4JXBE" target="_blank"> Song: {{ post.title }}</a></h2>
            <p class="article-content">{{ post.lyrics }}</p>
            <small class="text-muted">Posted on: {{ post.date_posted|date:'d M y' }}</small>
          </div>
        </article>
    {% endfor %}
{% endblock content %} 
